#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectbox {
    width: 22%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E4D9FF;
    margin: 0.5rem;
}

.projectbox img {
    width: 80%;
}

.name {
    color: #EB5160;
}

a:link {
    color: #E4D9FF;
}

a:visited {
    color: #EB5160;
}

a:hover {
    color: #FAFAFF;
}

a:active {
    color: #273469;
}