/*#projects {
    display: grid;
    grid-template-areas: 
    "p1" "p2" "p3"
    "p4" "p5" "p6";
    grid-template-rows: auto auto;
    grid-auto-columns: auto auto auto;
}

#p1 {
    grid-area: p1;
}
#p2 {
    grid-area: p2;
}
#p3 {
    grid-area: p3;
}
#p4 {
    grid-area: p4;
}
#p5 {
    grid-area: p5;
}
#p6 {
    grid-area: p6;
}*/

#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectbox {
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: #E4D9FF;
    margin: 0.5rem;
    padding: 1rem;
}

.projectbox img {
    width: 80%;
}

a:link {
    color: #E4D9FF;
}

a:visited {
color: #EB5160;
}

a:hover {
    color: #FAFAFF;
}

a:active {
    color: #273469;
}